---
layout: default
---

{% include hero.html
subtitle="10F DESIGN"
title="A Vermont web design company"
body="Transform your online presence with the help of 10F Design. Based in Brattleboro, VT, our nimble team of
developers and designers takes a goal-oriented approach to create custom websites that are tailored to your unique
business needs.</p><p class='mt-4'>We don't just focus on how your website looks and feels, but also on what it can achieve for your
business. Whether you're looking to expand your ecommerce capabilities, streamline your website content, or update your
image, we'll work closely with you to bring your vision to life."
%}

{% include panel.html
subtitle="Powering 43% of the Internet!"
title="Wordpress web development"
body="Nearly half of websites on the Internet today are built using Wordpress and for good reason. Compared to other
  content management systems (CMS), Wordpress is accessible and user-friendly, which means that you'll be able to easily
  manage and update content on your website once the development process is finished."
dark_color="sky-500"
mid_color="sky-300"
light_color="sky-50"
button_text="Learn More"
button_link="/wordpress"
%}

{% include panel.html
subtitle="Complete Customization"
title="Custom web apps with Ruby on Rails"
body="Break free of the limitations of website tools like Wordpress and Squarespace! Our custom web app development services are designed for clients who prioritize performance and complete customization."
dark_color="pink-500"
mid_color="pink-300"
light_color="pink-50"
button_text="Learn More"
button_link="/ruby-on-rails"
%}

{% include pricing.html %}

{% include featured_project.html %}

{% include panel.html
subtitle="Flawless Support for Your Business"
title="Managed website hosting"
body="Hosting and managing your own site can be intimidating. With our managed Wordpress hosting service, our team of elite developers will update your site monthly and fix any compatibility problems that might arise."
dark_color="teal-500"
mid_color="teal-200"
light_color="teal-50"
button_text="View Plans"
button_link="/managed-hosting"
%}

{% include testimonials.html %}