---
layout: alt
layout_color: blue-500
---

<div class="bg-{{ page.layout_color }}">
    {% include side_by_side.html
    subtitle="10F DESIGN"
    title="Portfolio"
    p1="Hosting and managing your own site can be intimidating. Wordpress core and plugins are constantly updating
    independently of each other, and since plugins are made by third-party developers, you never know if it's safe to
    click that tempting 'Update All' button. If something goes wrong, you're making frantic phone calls to your
    developer
    at best, or at worst staring at a blank white page with no clue how to fix it."
    %}
</div>

<div class="container grid my-12 gap-y-12">
    {% for project in site.projects %}
    {% assign remainder = forloop.index | modulo: 2 %}
    {% include project.html
    project=project
    remainder=remainder
    %}
    {% endfor %}
</div>