---
layout: alt
layout_color: cyan-700
---

<div class="bg-{{ page.layout_color }}">
  {% include side_by_side.html
  subtitle="10F DESIGN"
  title="Custom Web App Development"
  p1="Break free of the limitations of website tools like Wordpress and Squarespace! Our custom web app development
  services are designed for clients who prioritize performance and complete customization."
  %}

</div>

<div class="container grid lg:grid-cols-2 gap-x-12">
  <div>
    {% include panel.html
    subtitle="Full Control for Your Business"
    title="Unlock the full power of the web"
    p1="Using a powerful framework called Ruby on Rails, we will help you design a website where we can have absolute
    control over every aspect of the project. This means you have the freedom to go beyond a website that's just
    presenting information—we can create powerful tools for use-cases such as customer relationship management,
    e-commerce, video sharing, and much, much more."
    panel_color=page.layout_color
    %}

    {% include panel.html
    subtitle="Take the First Step!"
    title="Schedule a free consultation"
    p1="Every great project starts with a conversation. We'll discuss your business goals, your target audience, and
    your
    brand identity. We'll also talk about your budget and timeline. We'll then create a proposal that outlines the
    project. Get in touch with us today to schedule your free consultation."
    button_text="Schedule a consultation"
    button_link="/contact-us"
    panel_color="pink-500"
    %}
  </div>
  {% include workflow/workflow.html %}
</div>
