---
layout: alt
---

<div class="bg-teal-500">
  {% include side_by_side.html
  subtitle="10F DESIGN"
  title="Custom Web App Development"
  p1="Break free of the limitations of website tools like Wordpress and Squarespace! Our custom web app development services are designed for clients who prioritize performance and complete customization."
  p2="Using a powerful framework called Ruby on Rails, we will help you design a website where we can have absolute control over every aspect of the project. This means you have the freedom to go beyond a website that's just presenting information—we can create powerful tools for use-cases such as customer relationship management, e-commerce, video sharing, and much, much more."
  %}

</div>

{% include panel.html
subtitle="No templates or page builders"
title="Fully custom design"
body="When we design your Wordpress website, 10F creates a custom theme, built from scratch by our web development team.
That means we don't use any of the cookie-cutter, commercial themes, templates, or page builders that Wordpress offers.
Your Wordpress website will be 100% unique to your brand and specific business goals."
dark_color="teal-500"
mid_color="teal-200"
light_color="teal-50"
%}

{% include workflow/workflow.html %}

