<div class="container py-20">
	
	<h1 class="text-5xl font-display text-center mb-10">Featured Projects</h1>
  
  {% for project in site.projects : limit 1 %}
  <div class="flex flex-row items-center gap-4">
  	<div class="basis-1/2">
  		<img src="{{ project.tile-photo }}" alt="">
  	</div>
  	<div class="basis-1/2 flex flex-col gap-1">
  		<p class="font-bold text-pink-500">{{ project.responsibilities }}</p>
  		<h1 class="text-5xl font-display">{{ project.title }}</h1>
  		<p>{{ project.excerpt }}</p>
  		<p>
		  {% include button.html
           text_color="pink-500"
           bg_color="pink-50"
           outline_color="pink-300"
           button_text="Learn More"
           button_link=project.link
           %}
  		</p>
  	</div>
  </div>
  {% endfor %}

  <div class="flex flex-row gap-4 items-center my-4">
  	<div class="basis-1/2 text-right">
		  {% include button.html
         text_color="white"
         bg_color="pink-500"
         outline_color="pink-300"
         button_text="View Portfolio"
         button_link="/portfolio"
         %}
  	</div>
  	<div class="basis-1/2">
  		<p>
  			Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  		</p>
  	</div>
  </div>

</div>