<div class="container py-20">

	<h1 class="md:text-5xl text-3xl font-display md:text-center mb-10">Recent Work</h1>

	{% assign project = site.projects | sort "date" | reverse | first %}
	{% include project.html
	project=project
	%}

	{% if true %}
	<div class="flex flex-col-reverse md:flex md:flex-row gap-12 items-center my-4">
		<div class="basis-1/2 text-right">
			{% include button.html
			button_color="pink-500"
			button_text="View Portfolio"
			button_link="/portfolio"
			%}
		</div>
		<div class="basis-1/2 font-semibold text-neutral-600">
			<p>
				Check out our portfolio to see how we blend style with substance, creating websites that work as good as
				they look. Let's make your online presence shine!
			</p>
		</div>
	</div>
	{% endif %}

</div>