<footer class="bg-gray-200">
	<div class="container flex flex-col">
		<div class="basis-1/2">
			<h1 class="text-xl">
				<b>10F</b> Design
			</h1>
			<p>
				Contact our accounts manager Chris at <a class="text-red-900 font-bold" href="mailto:chris@10fdesign.io">chris@10fdesign.io</a> to start talking about your project!
			</p>
		</div>
		<div class="basis-1/4 text-right">
			<ul>
				<li class="font-bold">
					Menu One
				</li>
				<li>Item One</li>
				<li>Item Two</li>
				<li>Item Three</li>
				<li>Item Four</li>
			</ul>
		</div>
		<div class="basis-1/4 text-right">
			<ul>
				<li class="font-bold">
					Menu One
				</li>
				<li>Item One</li>
				<li>Item Two</li>
				<li>Item Three</li>
				<li>Item Four</li>
			</ul>
		</div>
	</div>
</footer>