<div class="container my-16">
  <h3 class="text-{{ include.panel_color }} font-bold mb-2">{{ include.subtitle }}</h3>
  <h2 class="text-3xl font-display mb-5">{{ include.title }}</h2>

  {% if include.p1 %}
  <p class="max-w-2xl mb-3">{{ include.p1 }}</p>
  {% endif %}
  {% if include.p2 %}
  <p class="max-w-2xl mb-3">{{ include.p2 }}</p>
  {% endif %}

  {% if include.button_text and include.button_link %}
  {% include button.html
  button_color=include.panel_color
  button_text=include.button_text
  button_link=include.button_link
  %}
  {% endif %}
</div>