<div class="my-16">

  <div class="flex flex-col justify-center">
    {% include workflow/card.html
    title="Strategy"
    body="Before we write a single line of code, we need to understand your business, inside and out. Together, we'll
    sit
    down and discuss your business to identify the goals and requirements for your Wordpress site. Through this process,
    we'll be able to identify and solve problems from the ground up so that we can create your website as efficiently as
    possible."
    number=1
    bg_color="sky-700"
    %}

    {% include workflow/card.html
    title="Design"
    body="With your goals in mind, 10F will design the look and feel for your website. You'll have the opportunity to
    give
    your feedback to ensure that we're matching your vision. Then, we'll create a series of mockups for key pages on the
    website as well as for mobile devices."
    number=2
    bg_color="violet-600"
    %}

    {% include workflow/card.html
    title="Development"
    body="Once you're happy with the design mockups, we'll be ready to begin developing your Wordpress website. We'll
    create
    a fully functional, mobile-responsive version of your website for you to test and review with your team. And after a
    few rounds of feedback and revisions, 10F will launch your website, and you'll be able to share it with the world."
    number=3
    bg_color="pink-600"
    %}
  </div>
</div>