<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="style.css">

  <script defer type="module" src="./assets/js/waveform.js"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Tilt+Warp&family=Work+Sans:wght@400;700&display=swap"
    rel="stylesheet">
    <style>
/*    	.alt-layout svg#Logo path {
		    fill: white;
			}*/
    </style>
</head>

<body class="font-body alt-layout">
  <div class="bg-teal-500 text-white">
    {% include nav.html
    menu_item_classes="text-teal-100 hover:text-white" %}
  </div>

  <section>
    {{ content }}
  </section>

  {% include footer.html %}
</body>

</html>