<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="style.css">

    <script type="importmap">
      {
        "imports": {
          "three": "./assets/js/three.module.min.js"
        }
      }
    </script>
    <script defer type="module" src="./assets/js/waveform.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Tilt+Warp&family=Work+Sans:wght@400;700&display=swap" rel="stylesheet">
  </head>
  <body class="font-body">
		{% include nav.html %}
    <section>

      {{ content }}
    </section>
    {% include footer.html %}
    {% include waveform/waveform.html %}
  </body>
</html>
